
   /*
        _ _ |  . _   __|_ | _  _   _| _  _ _  _
       _\(_||. |_\  _\ |\/|(/__\  (_|(/_| | |(_)
              L|        /
   */

body {
    font-family: "Vidaloka";
    background-color: #232323;
    color: #232323;
}

.space {
    min-height: 100px;
}

.fadeout {
    position: relative;
}

.ratm__title {
    font-weight: 100;
    font-size: 24px;
    padding-left: 120px;
    color: yellow;
}

.hero {
    margin-left: 120px;
}

.hero__title {
    font-size: 64px;
    margin: 0;
}

.a, .b {
    top: 0;
    position: absolute;
}

.box {
    width: 384px;
    height: 192px;
    background: url("../fight.png") left top no-repeat;
    background-position: "0 0";
}

.mod-parallax {
    height: 500px;
    border: 1px solid red;
}

