.space {
    min-height: 200px;
    border: 1px solid red;
}

.trigger {
    padding: 20px 0;
    background-color: pink;
    border: 1px solid green;
}

.swap-a {
    border: 2px solid purple;
}
.swap-b {
    border: 2px dotted purple;
}
